<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить пользователя</title>
</head>
<body>
    <h1>Добавить пользователя</h1>

    <form th:action="@{/users/form}" method="post">
        <label>Имя:</label>
        <input type="text" name="name" required/><br><br>

        <label>Email:</label>
        <input type="email" name="email" required/><br><br>

        <button type="submit">Сохранить</button>
    </form>

    <br/>
        <a href="/users">Назад к списку</a>
</body>
</html>